# Django settings
SECRET_KEY=django-insecure-58*@b08d#0r@&tq$e==y^9e&1s$@ri$ou%ykdybwz3-vxqy$g1
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# CORS settings
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Quickbooks OAuth settings
QUICKBOOKS_CLIENT_ID=dev-client-id
QUICKBOOKS_CLIENT_SECRET=dev-client-secret
QUICKBOOKS_ENVIRONMENT=sandbox
QUICKBOOKS_REDIRECT_URI=http://localhost:8000/api/auth/quickbooks/callback/
QUICKBOOKS_ACCOUNTING_API_BASE_URL=https://sandbox-quickbooks.api.intuit.com/
